/* -----

* {
    box-sizing: border-box;
}
 */
 

header {
display: flex;
flex-direction: column;

width: 100%;

}

h1 {
    text-align: center;
    margin: 3vw;
    padding: 10px;

}

 nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collapsible {
    font-family: 'Delius Unicase', cursive;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    background-color: #22291b;
    color: #f7f2f2;
    cursor: pointer;
    padding: 18px;

    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #6f9f75;
    color: whitesmoke;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}



body {
  margin:5px;
  font-family: 'Delius Unicase', cursive;
  color: rgb(65, 91, 84);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(255, 255, 255);
}

.turn > .player1 {
    position: relative;
    top: 350px; left: center;
}


.board {
    display: flex;
  background-color:rgb(5, 71, 52);
  margin: 2vw;
  height:250px;
  width:850px;
  border-radius:30px;
  border-style: solid;
  border-color: rgb(242, 240, 235);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
  inset 5px 5px 5px rgba(0,0,0,0.5);

}

.section {
    background-color:rgba(185, 94, 20, 0.1);
    margin:5px;
    border-radius: 20px;
  }

.endsection
{
  display:flex;
  flex-grow:1;
}

.midsection
{
  display:flex;
  flex-direction:column;
  flex-grow:6;
}

.midrow
{
  display:flex;
  flex-grow:1;
}

.pot {
display: flex;
  position:relative;
  background-color:rgba(240, 255, 234, 0.5);
  box-shadow:
  inset 25px 25px 25px rgba(29, 68, 53, 0.5);
  flex-grow:1;
  margin:10px;
  border-radius: 100%;
  border-style: solid;
  border-color:rgb(214, 210, 196);
}

.beads {
    width: 2vw;
    height: 0.5vw;
    background-color: rgb(250, 154, 10);
    position: absolute;
    top: 37px;
    left: 25px;
    border-radius: 100%;
    border: 0.5px solid rgb(192, 136, 5);
    /* transform: translateX(0vw); */
    padding: 7px 1px;
    
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5),
    inset 4px 4px 4px rgba(103, 62, 12, 0.5);
    transform: translateX(0vw);
    transition: transform 1.8s;
}

.fake-left-position {
    transform: translateX(-10vw);
    transition: none;
  }

.fake-right-position {
    transform: translateX(10vw);
    transition: none;
  }

.score {
    display: grid;
    grid-template-columns: 50fr 50fr 50fr;
    grid-template-rows: 50fr 50fr;
    grid-template-areas: 
        "header header header"
        "left . right";
    border-style: solid;
    border-color: rgb(163, 166, 159);
    width: 100%;
    margin: 7rem;
    padding: 15px auto;
    background-color: rgb(95, 134, 94);
    color: whitesmoke;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.score-player1, .score-player2 {
    text-align: center;
}

.score > h3 {
    grid-area: header;
    justify-self: center;
}

.score > .score-player1 {
    grid-area: left;
}

.score > .score-player2 {
    grid-area: right;
}





/* -----

.beads > div {

	border: 0.5px;
    border-style: solid;
	border-radius: 45%;
    width: 20px;
    padding: 7px 1px;
    background-color: rgb(250, 154, 10);
    border-color:rgb(192, 136, 5);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5),
    inset 4px 4px 4px rgba(103, 62, 12, 0.5);
}




----- */